$prefixes : -webkit-, -moz-, -ms-, -o-,"";

@mixin prefix($name, $argument) {
  @each $pre in $prefixes {
    #{$pre}#{$name}:$argument;
  }
}

body, div, section, h5, h6, ul, ol, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  width: 80%;
  max-width: 960px;
  min-width: 640px;
  margin: 20px auto;
  text-align: center;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

section {
  border: 1px solid #ccc;
  overflow: hidden;
}

h5 {
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  padding-left: 20px;
  background: linear-gradient(
                  135deg,
                  #f0f0f0, #f0f0f0 45%,
                  transparent 45%, transparent 60%,
                  #f0f0f0 60%, #f0f0f0 100%
  ) #e9e9e9;
  background-size: 10px 10px;
}

.sandbox {
  padding: 30px;
}

/* 浮动元素居中 */
#float-center {
  text-align: center;
  padding: 20px 0;

  .float-p {
    position: relative;
    float: left;
    left: 50%;
    background-color: #ffffd2;
  }

  .float-c {
    position: relative;
    float: left;
    left: -50%;
    background-color: rgba(200,200,200,.5);

  }

  li {
    text-align: left;
  }
}

/* 圣杯与双飞翼布局 */
#col-2-wing,
#col-3-wing,
#col-2-holygrail,
#col-3-holygrail {
  .main, .aside {
    min-height: 200px;
  }

  .main { background-color: #e4f5e5; }
  .s-left { background-color: #ffffd2; }
  .s-right { background-color: #a6dfde; }
}


/* 双栏双飞翼布局 */
#col-2-wing {
  .main,
  .aside {/* 主体和边栏均设置浮动 */
    float: left;
  }

  .main { /* 主体宽度与父元素相等 */
    width: 100%;

    .wrap {
      margin-right: 200px; /* 内部包裹一层元素, 其右外边距与边栏宽度相等,用于留出空间给边栏 */
    }
  }

  .aside { /* 边栏固定宽度, 设置 负 的左外边距, 大小为自身宽度的负值 */
    width: 200px;
    margin-left: -200px;
  }
}

/* 三栏双飞翼布局 */

#col-3-wing {
  .main,
  .s-left,
  .s-right { /* 主体和边栏均设置浮动 */
    float: left;
  }

  .main {
    width: 100%; /* 主体宽度与父元素相等 */

    .wrap {
      margin: 0 200px; /* 内部包裹一层元素, 其左右外边距与边栏宽度相等,用于留出空间给边栏 */
    }
  }

  .s-left {
    width: 200px; /* 边栏固定宽度 */
    margin-left: -100%; /* 左边栏设置 负 的左外边距, 大小等同于父元素的宽度, 也就是主体元素的宽度 */
  }

  .s-right {
    width: 200px; /* 边栏固定宽度 */
    margin-left: -200px; /* 右边栏设置 负 的左外边距, 大小为自身宽度的负值 */
  }
}


/* 双栏圣杯布局 */

#col-2-holygrail {
  padding-right: 200px; /* 父元素设置右边距(内边距或外边距均可, 使用内边距可以方便用外边距进行其他布局设定), 大小等于边栏的宽度 */
  /*margin: 0 20px;*/

  .main,
  .aside { /* 主体和边栏均设置浮动 */
    float: left;
  }
  .main { /* 主体宽度与父元素相等 */
    width: 100%;
  }
  .aside {
    width: 200px; /* 边栏固定宽度 */
    margin-left: -200px; /* 右边栏设置 负 的左外边距, 大小为自身宽度的负值 */
    position: relative; /* 使用相对定位 */
    left: 200px; /* 向左偏移的距离等于自身宽度 */
  }
}

/* 三栏圣杯布局 */

#col-3-holygrail {
  margin: 0 200px; /* 父元素设置左右内或外边距, 大小等于边栏的宽度 */

  .main { /* 主体宽度与父元素相等 */
    width: 100%;
  }

  .main,
  .s-left,
  .s-right { /* 主体和边栏均设置浮动 */
    float: left;
  }

  .s-left {
    width: 200px; /* 边栏固定宽度 */
    margin-left: -100%; /* 左边栏设置 负 的左外边距, 大小等同于父元素的宽度, 也就是主体元素的宽度 */
    position: relative; /* 使用相对定位 */
    left: -200px; /* 向左偏移的距离等于自身宽度的 负 值 */
  }

  .s-right {
    width: 200px; /* 边栏固定宽度 */
    margin-left: -200px; /* 右边栏设置 负 的左外边距, 大小为自身宽度的负值 */
    position: relative; /* 使用相对定位 */
    left: 200px; /* 向左偏移的距离等于自身宽度 */
  }
}

/* 固定宽高水平垂直居中-绝对定位 */
$center-fixed-wh-absolute-width: 200px;
$center-fixed-wh-absolute-height: 200px;

#center-fixed-wh {
  position: relative;
  min-height: $center-fixed-wh-absolute-height + 20px;

  .box {
    width: $center-fixed-wh-absolute-width;
    height: $center-fixed-wh-absolute-height;
    border: 1px solid lightblue;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -$center-fixed-wh-absolute-width / 2;
    margin-top: -$center-fixed-wh-absolute-height / 2;
  }
}

/* 水平垂直居中 - 绝对定位 - 宽高随意 */

#center-wh {
  position: relative;
  min-height: 220px;

  .box {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f0f0f0;
  }
}

/* 水平垂直居中 - flex */

#center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;

  .box {
    width: 200px;
    background-color: #f0f0f0;
  }
}

/* 水平垂直居中 - css3 - 宽高随意 */
#center-css3 {
  position: relative;
  height: 200px;

  .box {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/* 水平垂直居中 - 表格 - 宽高随意 - inline(-block) */

#center-inline-table-cell {
  display: table-cell;
  text-align: center; /* 水平居中 */
  vertical-align: middle; /* 垂直居中 */
  height: 100px;
  width: 960px; /* 不设置的话宽度不会撑开 */

  .box {
    background-color: #eaeaea;
  }
}

/* 水平垂直居中 - 多个元素 - inline-block */

#center-multi-inline-block {
  text-align: center;

  .box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    margin: 10px; /* 上下对应一致 左右对应一致 */
  }
}

/* 水平垂直居中 - 多个元素 - flex */

#center-multi-flex {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  height: 200px;

  .box {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    margin: auto; /* 水平均匀分布 */

  }
}

/* 不同标签呈现相同的按钮效果 */

#btn-tags {
  padding: 30px;

  .btn {
    display: inline-block;
    box-sizing: border-box;
    width: 68px;
    height: 40px;
    margin-right: 4px;
    padding: 5px;
    text-align: center;
    line-height: 30px;
    border: none;
    @include prefix(border-radius, 5px);
    text-decoration: none;
    font-family: '微软雅黑', Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #fff;
    background: #f36e41;
    cursor: pointer;

    &:hover {
      background-color: #c14d21;
    }
    &:active {
      background-color: #e25f31;
    }
  }
}

/* Sprite */

#sprite .player > li {
  display: inline-block;
  position: relative;
  margin-left: 30px;

  &:hover a {
    color: #4c772f;
  }
}

#sprite .forward:before, .start:before, .stop:before {
  content: "";
  background: url(../images/player_icon.png);
  width: 22px;
  height: 22px;
  background-size: 22px;
  position: absolute;
  left: -22px;
}
#sprite .forward:before {
  background-position: 0 -22px;
}
#sprite .start:before {
  background-position: 0 -111px;
}
#sprite .stop:before {
  background-position: 0 -66px;
}
#sprite .forward:hover:before {
  background-position: 0 0;
}
#sprite .start:hover:before {
  background-position: 0 -89px;
}
#sprite .stop:hover:before {
  background-position: 0 -44px;
}

/* 提示角标 */

#colorful-corner {
  .box {
    width: 360px;
    height: 180px;
    border: 2px solid #d5d5d5;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 10px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      border-bottom: 25px solid #f00;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      @include prefix(transform, rotate(45deg));
      right: -17px;
      top: -5px;
    }
  }
}

/* 提示对话框 */

#tooltip-box {
  .box {
    width: 360px;
    height: 180px;
    border: 2px solid #d5d5d5;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 10px;
    position: relative;
    /* TODO: 以上 和上面的.box 相同,精简 */
    z-index: 100;

    &:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border-top: 2px solid #d5d5d5;
      border-left: 2px solid #d5d5d5;
      @include prefix(transform, rotate(45deg));
      background: #fff;
      top: -13px;
      left: 20px;
    }
  }
}

/* 导航与二级导航 */

#navbar {
  height: 300px; /* TODO: 自动撑开 */

  & > ul {
    background: #aaa;

    & > li {
      float: left;
      padding: 10px;
      color: #fff;
      position: relative;
      cursor: pointer;

      &:hover {
        background: red;
      }

      a {color: #fff;}

      ul {
        display: none;
        background: #cfcfcf;
        position: absolute;
        top: 35px;
        left: 0;

        li {
          margin-top: 10px;
          padding: 10px;

          &:first-child {
            margin-top: 0;
          }

          &:hover {
            background: red;
          }
        }
      }

      &:hover .sub {
        display: block;
      }
    }
  }
}

/* Tab 切换 */

#tabs li {
  float: left;
  border: 1px solid #ddd;
  width: 33.333%;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;

  .active {
    background: #efefef;
  }
}

#tab-content {
  border: 1px solid #ddd;
  height: 200px;
  margin-top: -1px;
  padding: 20px;
  text-align: left;

  & > p {
    display: none;
  }

  .active {
    display: block;
  }
}

/* Modal Box */

#modal {
  position: relative;
  width: 600px;
  height: 400px;

  input {
    cursor: pointer;
  }

  .panel {
    position: absolute;
    background: rgba(200,200,200,.6);
    top: 0;
    left: 0;
    width: 600px;
    height: 400px;
    display: none;

    .container {
      position: absolute;
      width: 400px;
      height: 180px;
      top: 50%;
      left: 50%;
      margin-left: -200px;
      margin-top: -90px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background: #fff;

      .header {
        border-bottom: 1px solid #ccc;
        padding: 10px;
        height: 40px;

        &:after {
          content: "";
          display: block;
          clear: both;
        }

        h6 {
          font-size: 16px;
          float: left;
        }

        .close {
          float: right;
          cursor: pointer;
        }
      }

      .content {
        padding: 10px;
        height: 100px;

        p {
          margin: 10px;
        }
      }

      .footer {
        border-top: 1px solid #eee;
        text-align: right;
        padding: 10px;
        height: 40px;
      }
    }
  }

  .cover {
    width: 400px;
    height: 180px;
  }
}

/* A simple CSS3 Opera Logo */

.dear-opera {
  margin: 20px auto;
  height: 300px;
  width: 270px;
  background: linear-gradient(0deg,#a62f20 0%, #852418 25%, #ba3523 50%,#ed473f 75%, #f08185);
  border-radius: 135px/150px;
  border: 1px solid #f2a4a0;

  &:after {
    content: "";
    display: block;
    height: inherit;
    width: inherit;
    background: inherit;
    border-radius: inherit;
    position: relative;
    top: -115px;
  }
}

.opera-inner {
  width: 270px;
  height: 120px;
  background: #fff;
  border-radius: 140px/60px;
  transform: rotate(90deg);
  position: relative;
  z-index: 2;
  top: 90px;
  background: linear-gradient(45deg,#a62f20 0%, #852418 25%, #d84534 50%,#e36359 75%, #f08185);

  &:after {
    content: "";
    display: block;
    width: inherit;
    height: inherit;
    background: #fff;
    border-radius: inherit;
    transform: scale(0.93);
  }
}